{% extends 'base.html.twig' %}

{% block title 'Movie detail - ' ~ parent() %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <p class="plot">{{ movie.plot }}</p>
    <p class="releasedAt">Released on {{ movie.releasedAt|date('Y-m-d') }}</p>
{% endblock %}