{% extends 'base.html.twig' %}

{% block title 'Movies - ' ~ parent() %}

{% block body %}
    <ul>
    {% for movie in movies %}
        <li><a href="{{ path('app_movie_detail', {id: movie.id}) }}">{{ movie.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
