{% extends 'base.html.twig' %}

{% block title 'Movies - ' ~ parent() %}

{% block body %}
    <ul class="movies">
    {% for movie in movies %}
        <li>
            <a href="{{ path('app_movie_detail', {id: movie.id}) }}">{{ movie.title }}</a>
            {% if is_granted('delete', movie) %}
                &nbsp;(<a href="{{ path('app_movie_delete', {id: movie.id}) }}">delete</a>)
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
